Package: clash-for-windows
Version: {{$Version}}
Architecture: amd64
Maintainer: Clash for Windows Linux <https://github.com/lantongxue/clash_for_windows_pkg>
Description: A Windows/macOS/Linux GUI based on Clash
