name: Auto Package

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
  
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run Script
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: php clash_for_windows_deb_publish.php
